<div class="container">
  <div class="row">
   
      
   
<h1 class="px-3 mx-auto">
  <font _mstmutation="1">
  welcome to 
  <strong _mstmutation="1">Bookers</strong>
   !
 </font>
  <i class="fas fa-book"></i>
 <!--本マーク-->
  </h1>
  </div>
  </div>
  